/* 
.topbar-center-logo {
    background: transparent;
  }
  
  .topbar-center-logo .menu {
    background: transparent;
  }
  
  .topbar-center-logo .menu a {
    color: transparent;
  }
  
  .topbar-center-logo .top-bar-center {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-center-logo .top-bar-center {
      display: none;
    }
  }
  
  .topbar-center-logo-mobile {
    background: transparent;
  }
  
  .topbar-center-logo-mobile .menu-icon {
    vertical-align: text-top;
  }
  
  
  .input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  } */
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 85px;
  color: white;
  margin-top:15px;
  text-shadow: 0 0 4px black;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 90px;
  text-shadow: 0 0 4px black;
}

.foodContainer label, .foodContainer legend, p, h2, h1 {
  color: white;
  text-shadow: 0 0 4px black;
}

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("https://images.unsplash.com/photo-1532634922-8fe0b757fb13?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80") center center no-repeat;
  background-size: cover;
  text-align: center;
  font: white;
  position: relative;
}
.hero-full-screen::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: white;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  padding: 0 80px;
}

@media only screen and (max-width: 890px){
  .hero-full-screen .middle-content-section {
    padding: 0 32px;
  }
}

.hero-full-screen .top-content-section {
  width: 100%;
  text-align: center;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
  text-align: center;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: white;
  text-align: center;
}

.hero-full-screen .top-bar {
  background: transparent;
  text-align: center;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
  align-items: center;
  text-align: center;
}

.hero-full-screen .top-bar .menu-text {
  color: white;
  text-align: center;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.hero-full-screen .top-bar .menu a {
  color: white;
  font-weight: bold;
  text-align: center;
}

